<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="MisAdminWebEntities" connectionString="metadata=res://*/Models.ReportModel.csdl|res://*/Models.ReportModel.ssdl|res://*/Models.ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=MisAdminWeb;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		<add name="MisDataContext" connectionString="metadata=res://*/MisDataContext.csdl|res://*/MisDataContext.ssdl|res://*/MisDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MisAdminWeb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
</configuration>