<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="webSetting1" value="value1" />
		<add key="webSetting2" value="value2"/>
		<add key="Setting2" value="value2"/>
	</appSettings>
	<connectionStrings>
		<add name="conn1" providerName="SqlData" connectionString="connString"/>
		
	</connectionStrings>
</configuration>